.content .image img {
  width: 280px;
}

.product {
  width: 300px;
  padding: 10px;
  border: rgba(0, 0, 0, 0.07) 3px solid;
  margin: 30px;
  /*text-align: center;*/
}

.product button{
  margin-top: 10px;
}

.content {
  padding: 200px;
  flex: 1 1 160px;
  display: flex;
  flex-wrap: wrap;
}

.back {
  font-size: 20px;
  float: right;
}

.back:hover {
  cursor: pointer;
}

.navbar-text:hover {
  cursor: pointer;
}

.row {
  display: flex;
  width: 53%;
  padding: 20px;
}

.row img {
  width: 100px;
}

#message {
  color: #ff6f6f;
  display: none;
  padding-bottom: 10px;
}
